/* Space out content a bit */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*line-height: 1.6;*/
  /*line-height: 26px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
  line-height: 1.6;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  /*margin: 40px 0px 40px 0px;*/
  margin-top: 40px;
  margin-bottom: 20px;
}
.marketing p {
  margin-bottom: 20px;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
.media-body {
  font-size: 26px;
}
.icon-email {
  background: url("../img/email.png") no-repeat scroll left 0px transparent;
  padding-left: 35px;
  display: inline-block;
  height: 25px;
}
.icon-linkedin {
  background: url("../img/linkedin.png") no-repeat scroll left 0px transparent;
  padding-left: 35px;
  display: inline-block;
  height: 25px;
}
.icon-github {
  background: url("../img/github.png") no-repeat scroll left 0px transparent;
  padding-left: 35px;
  display: inline-block;
  height: 25px;
}
.icon-twitter {
  background: url("../img/twitter.png") no-repeat scroll left 0px transparent;
  padding-left: 35px;
  display: inline-block;
  height: 25px;
}
.projects h4 {
  margin-bottom: 3px;
}
.tags {
  margin-bottom: 12px;
}
.tags > .label {
  font-weight: normal;
}