---
title: Contact
---

<div class="media">
  <div class="media-body">
    Feel free to contact me using any of the channels below
  </div>
</div>

<div class="row marketing">
  <div class="col-lg-12">
    <p>
      <span class="icon-email" id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:qvzmnin@tznvy.pbz\" gnetrg=\"_oynax\">qvzmnin@tznvy.pbz</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(eo);</script>
        <noscript><span style="unicode-bidi:bidi-override;direction:rtl;">moc.liamg@avazmid</span></noscript></span>
    </p>
    <p><%= link_to '@dimzava', 'https://twitter.com/dimzava', :class => 'icon-twitter', :target => "_blank" %></p>
    <p><%= link_to 'github.com/dimzava', 'https://github.com/dimzava', :class => 'icon-github', :target => "_blank" %></p>
    <p><%= link_to 'linkedin.com/in/dimzava', 'https://linkedin.com/in/dimzava', :class => 'icon-linkedin', :target => "_blank" %></p>
  </div>
</div>