---
title: Resume
---

<div class="media">
  <div class="media-body">
    A brief summary of my background and skills
  </div>
</div>

<div class="row marketing resume">
  <div class="col-lg-12">

    <h4>WORK EXPERIENCE</h4>
    <ul class="resume-entries">
    <li>
      <h4>Technical Product Manager, Europass <small>Feb 2010&ndash;Present</small></h4>
      <div class="org">
        Quality &amp; Reliability (Q&amp;R) &ndash; Thessaloniki, Greece
      </div>
    </li>

    <li>
      <h4>Sr. Software Engineer <small>Jun 2007&ndash;Jan 2010</small></h4>
      <div class="org">
        National Documentation Centre (EKT) &ndash; Athens & Thessaloniki, Greece
      </div>
    </li>
    
    <li>
      <h4>Sr. Software Engineer <small>Apr 2008&ndash;Jan 2009</small></h4>
      <div class="org">
        Synergic Software &ndash; Athens, Greece
      </div>
    </li>

    <li>
      <h4>Software Engineer <small>Nov 2006&ndash;Jun 2007</small></h4>
      <div class="org">
        EWORX &ndash; Athens, Greece
      </div>
    </li>

    <li>
      <h4>IT Consultant <small>Nov 2006&ndash;Apr 2007</small></h4>
      <div class="org">
        Greek Research &amp; Technology Network (GRNET) &ndash; Athens, Greece
      </div>
    </li>

    <li>
      <h4>Researcher <small>Feb 2006&ndash;Oct 2007</small></h4>
      <div class="org">
        AUEB, Dept. of Management Science &amp; Technology &ndash; Athens, Greece
      </div>
    </li>

    <li>
      <h4>Web Developer <small>Oct 2004&ndash;Jan 2005</small></h4>
      <div class="org">
        Self-employed &ndash; Thessaloniki, Greece
      </div>
    </li>

    <li>
      <h4>Software Engineering Intern <small>Jun 2004&ndash;Sep 2004</small></h4>
      <div class="org">
        Southern General Hospital, Institute of Neurological Sciences, BrainIT Group &ndash; Glasgow, Scotland/UK
      </div>
    </li>

    </ul>

    <h4>EDUCATION</h4>
    <ul class="resume-entries">
      <li>
        <h4>MSc in Information Technology with Distinction <small>Sep 2003&ndash;Sep 2004</small></h4>
        <div class="org">
          University of Glasgow, Dept. of Computing Science &ndash; Glasgow, Scotland/UK
        </div>
      </li>

      <li>
        <h4>BSc in Economics <small>Oct 1998&ndash;Jul 2003</small></h4>
        <div class="org">
          AUTh, Dept. of Economics &ndash; Thessaloniki, Greece
        </div>
      </li>
    </ul>

    <h4>SKILLS</h4>
    <ul>
      <li>
        Heavy experience with the Java/JVM ecosystem (Java SE/EE, Spring, Groovy, Grails, Hibernate/JPA,
        several other open source frameworks, libraries and tools).
      </li>
      <li>
        Some exposure to Ruby on Rails, Python, JavaScript, PHP; currently experimenting with Golang.
      </li>
      <li>
        Extensive experience with web technologies and markup languages such as (X)HTML, CSS, XML, XSD, JSON, etc.
      </li>
      <li>
        Extensive experience with MySQL; some exposure to MS SQL Server, Oracle, PostgreSQL and MongoDB.
      </li>
      <li>
        Extensive experience with Apache HTTP Server and Apache Tomcat in high-availability/load balancing
        architectures on both Linux and Windows environments (installation, configuration, administration,
        fine-tuning).
      </li>
      <li>
        Hands-on experience with IaaS, PaaS and other cloud-based services including Heroku, Amazon Web Services (S3),
        CloudFlare, AppFog, Jelastic and Digital Ocean.
      </li>
      <li>
        Extensive experience with popular Java IDEs (IntelliJ, Eclipse), build tools (Maven, Gradle) and SCM tools (Git, SVN);
        some exposure to continuous integration and code quality tools (Jenkins, SonarQube).
      </li>
      <li>
        Proficient with various project management and collaboration tools such as JIRA, Trello, GitHub, Bitbucket, WorkFlowy;
        have also used Mantis and Redmine in the past.
      </li>
    </ul>
    <p></p>
    
    <h4>LIFELONG LEARNING</h4>
    <ul class="resume-entries">
      <li>
        <h4>M102: MongoDB for DBAs <small>Jan 2013&ndash;Mar 2013 (7 weeks)</small></h4>
        <div class="org">
          10gen, The MongoDB Company &ndash; Online Course
        </div>
      </li>

      <li>
        <h4>M101: MongoDB for Developers <small>Oct 2012&ndash;Dec 2012 (7 weeks)</small></h4>
        <div class="org">
          10gen, The MongoDB Company &ndash; Online Course
        </div>
      </li>

      <li>
        <h4>Workshop on Green ICT <small>Mar 2011 (2.5 hours)</small></h4>
        <div class="org">
          International Hellenic University, School of Science &amp; Technology &ndash; Thessaloniki, Greece 
        </div>
      </li>

      <li>
        <h4>JHUG.gr Tech Day <small>Feb 2009 (5 hours)</small></h4>
        <div class="org">
          Java Hellenic User Group &ndash; Athens, Greece 
        </div>
      </li>

      <li>
        <h4>JHUG.gr Tech Day <small>Nov 2008 (6 hours)</small></h4>
        <div class="org">
          Java Hellenic User Group &ndash; Athens, Greece 
        </div>
      </li>

      <li>
        <h4>Spring Seminar <small>Aug 2008 (4 hours)</small></h4>
        <div class="org">
          SpringSource &amp; Java Hellenic User Group &ndash; Athens, Greece 
        </div>
      </li>

      <li>
        <h4>JHUG.gr Tech Day <small>Jun 2008 (6 hours)</small></h4>
        <div class="org">
          Java Hellenic User Group &ndash; Athens, Greece 
        </div>
      </li>

      <li>
        <h4>Agile Development &ndash; Agility for survival <small>Feb 2008 (3 hours)</small></h4>
        <div class="org">
          dotNETZone.gr &ndash; Athens, Greece
        </div>
      </li>

      <li>
        <h4>Java Developer Day <small>Feb 2008 (8 hours)</small></h4>
        <div class="org">
          Sun Microsystems Hellas &ndash; Athens, Greece
        </div>
      </li>

      <li>
        <h4>JHUG.gr Tech Day <small>Oct 2008 (6 hours)</small></h4>
        <div class="org">
          Java Hellenic User Group &ndash; Athens, Greece 
        </div>
      </li>

      <li>
        <h4>Enterprise Java Tech Day <small>Mar 2007 (5 hours)</small></h4>
        <div class="org">
          Java Hellenic User Group &ndash; Athens, Greece  
        </div>
      </li>

      <li>
        <h4>Java Developer Day <small>Feb 2007 (8 hours)</small></h4>
        <div class="org">
          Sun Microsystems Hellas &ndash; Athens, Greece   
        </div>
      </li>

      <li>
        <h4>Enterprise Java and NetBeans <small>Dec 2006 (4 hours)</small></h4>
        <div class="org">
          Java Hellenic User Group &ndash; Athens, Greece   
        </div>
      </li>

      <li>
        <h4>Enterprise Java <small>Apr 2006 (4 hours)</small></h4>
        <div class="org">
          Java Hellenic User Group &ndash; Athens, Greece   
        </div>
      </li>

      <li>
        <h4>Introduction to Grids <small>Jul 2005 (8 hours)</small></h4>
        <div class="org">
          Greek Research &amp; Technology Network/Informatics &amp; Telematics Institute &ndash; Thessaloniki, Greece 
        </div>
      </li>

      <li>
        <h4>UNIX and C Crash Course <small>Jun 2004 (16 hours)</small></h4>
        <div class="org">
          University of Glasgow, Dept. of Computing Science &ndash; Glasgow, Scotland/UK
        </div>
      </li>

      <li>
        <h4>Introduction to Visual Basic for Applications and Access <small>Jun 2004 (4 hours)</small></h4>
        <div class="org">
          University of Glasgow, Dept. of Computing Science &ndash; Glasgow, Scotland/UK
        </div>
      </li>

      <li>
        <h4>5th European Forum in Business Management on Corporate Strategy <small>May 2003 (8 hours)</small></h4>
        <div class="org">
          Athens Graduate School of Management &ndash; Thessaloniki, Greece
        </div>
      </li>

      <li>
        <h4>Emotional Intelligence <small>Dec 2002 (8 hours)</small></h4>
        <div class="org">
          Hellenic Management Association &ndash; Thessaloniki, Greece 
        </div>
      </li>

      <li>
        <h4>Personal Skills Development for a Successful Manager <small>Nov 2002 (6 hours)</small></h4>
        <div class="org">
          Hellenic Institute of Marketing &ndash; Thessaloniki, Greece 
        </div>
      </li>

      <li>
        <h4>E-Business <small>Apr 2002 (6 hours)</small></h4>
        <div class="org">
          Hellenic Institute of Marketing &ndash; Thessaloniki, Greece 
        </div>
      </li>
    </ul>
    
  </div>
</div>